<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Kimberly</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/head2.png" alt="Kimberly Maxwell Headshot">
                </div>
                <div class="col-md-6">
                    <p>Kimberly was born in a small town near Greenville, South Carolina.  Soon after her preschool graduation she landed the coveted role of “Want” in A Christmas Carol at the South Carolina Children’s Theatre.  She knew from the start that this was what she wanted to do.  Whether musical, straight play, or recital, it seemed Kimberly was always in a show.  But it wasn’t until high school that she discovered her passion for film acting.  She spent her time trying to learn all she could about this world by doing extra work and stand-in work in Atlanta, but knew her training needed to be taken to the next level.  It was at the University of Oklahoma that Kimberly really learned her craft by taking on-camera, movement, voice, and technique classes, amongst others. Kimberly will graduate with a B.F.A. in Drama with an Acting Emphasis this coming May. </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Following
                        <strong>Graduation</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12">
                    <p>Immediately following graduation, Kimberly will embark on a six month journey across the Appalachian Trail.  She has always been up for a challenge, whether it be battling cancer, training in Spanish Web and other cirque apparatuses, being a Tough Mudder finisher, or receiving a Recommended Pass in Unarmed Stage Combat. Following her trip on the Appalachian Trail, Kimberly is thrilled to kickstart her acting career in the booming film/television market in the Atlanta area.  This will be her biggest challenge and greatest adventure yet.</p>
                </div>
            </div>
        </div>