<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Photos</strong> and <strong>Headshots</strong>
                    </h2>
                    <hr>
                    <center>
                    <p class="information">Click on the thumbnail image to see the full-size photograph.</p>
                    <p class="information">Hover over the thumbnail image for additional information about the production shown.</p>
                    </center>    
                </div>
                <div class="col-lg-12">
                    
                  <div class="member"><center>
                <a href="img/photos/blueshirt.png" alt="Kimberly Maxwell Headshot"><span title="Taken by: Jeff Nicholson
The Shot Photography"><img class="headshots" src="/img/photos/blueshirt.png" alt="Headshots Taken 2015" /></span></a>
                <div class="name"><p class="describe"></p></div></center>
                </div> 
                    
                  <div class="member"><center>
                <a href="img/photos/looking.png" alt="Kimberly Maxwell Headshot"><span title="Taken by: Mark Oristano"><img class="headshots" src="/img/photos/looking.png" alt="Headshots Taken 2014" /></span></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>     
                    
                  <div class="member"><center>
                <a href="img/photos/headshot.png" alt="Kimberly Maxwell Headshot"><span title="Taken by: Jeff Nicholson
The Shot Photography"><img class="headshots" src="/img/photos/headshot.png" alt="Headshots Taken 2015" /></span></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>  
                    
                  <div class="member"><center>
                <a href="img/photos/blueheadshot.png" alt="Kimberly Maxwell Headshot"><span title="Taken by: Jeff Nicholson
The Shot Photography"><img class="headshots" src="/img/photos/blueheadshot.png" alt="Headshots Taken 2015" /></span></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>    
                    
                <div class="member"><center>
                <a href="img/photos/sitting.png" alt="Kimberly acting"><span title="Show: 'Patient A' by Lee Blessing
Capstone Production at the University of Oklahoma
Photograph also features John Steele as Lee Blessing (foreground) and Madison Edwards as Matthew (background)
Lighting design by John Steele
Direction by Crissy Mundey Young
Photo taken by: Joe Dougherty"><img class="headshots" src="/img/photos/sitting.png" alt="Kimberly sitting" /></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>         
                    
                <div class="member"><center>
                <a href="img/photos/outfit.png" alt="Kimberly in a midevil outfit"><span title="At OU's annual 'Arts, Arts, Arts' benefit
Dressed in costume to raise money for OU's Fine Arts Department
Costume design by Lloyd Cracknell
Photograph by Dr. John Scamehorn"><img class="headshots" src="/img/photos/outfit.png" alt="Kimberly in a midevil outfit" /></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>     
                    
                <div class="member"><center>
                <a href="img/photos/straight.png" alt="Kimberly acting"><span title="Show: 'Patient A' by Lee Blessing
Capstone Production at the University of Oklahoma
Lighting design by John Steele
Direction by Crissy Mundey Young
Photograph by Joe Dougherty"><img class="headshots" src="/img/photos/straight.png" alt="Kimberly sitting" /></span></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>  
                    
                <div class="member"><center>
                <a href="img/photos/dress.png" alt="Kimberly in a fancy dress"><span title="Costume design by Lloyd Cracknell
Set design by Ethan Hartman 
Lighting design Richard Sprecker
Direction by Rena Cook
Photograph by Stephanie Orr"><img class="headshots" src="/img/photos/dress.png" alt="Kimberly in a fancy dress" /></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>  
                    
                <div class="member"><center>
                <a href="img/photos/extra.png" alt="Kimberly acting as a pharmacist"><span title="Acting for The Oklahoma Highway Safety Office's new End DUI campaign"><img class="headshots" src="/img/photos/extra.png" alt="Kimberly acting as a pharmacist" /></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>  
                    
                <div class="member"><center>
                <a href="img/photos/group.png" alt="Kimberly with friends"><span title="Show: The Resistible Rise of Arturo Ui by Bertolt Brecht
Kimberly portrayed the role of Goodwill
She performed a Spanish Web routine during the intermission show
Shows concept: ragtag bunch of circus performers put up the show
Costume design by Melissa Perkins"><img class="headshots" src="/img/photos/group.png" alt="Kimberly with friends" /></a>
                <div class="name"><p class="describe"></p></div></center>
                </div>       
            
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
