<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Upcoming</strong> Productions
                    </h2>
                    <hr>  
                </div>
                <div class="col-lg-12">
                        
                  <div><center>
                <a href="img/app.png" alt="Kimberly hiking the Appalachian Trail"><span title="Kimberly hiking the Appalachian Trail."><img class="headshots" src="/img/app.png" alt="Kimberly hiking the Appalachian Trail" /></a>
                <div class="name"><p class="describe"></p></div></center>
                <p><center><strong>October 29: Kimberly finished her thru-hike of the Appalachian Trail</strong></center></p>            
                </div> 
                    
                <div><center>
                <a href="img/grad.png" alt="Kimberly Graduation: May 2015"><span title="Kimberly Graduation: May 2015"><img class="headshots" src="/img/grad.png" alt="Kimberly Graduation: May 2015" /></a>
                <div class="name"><p class="describe"></p></div></center>
                <p><center><strong>May 9: Kimberly graduated from the University of Oklahoma</strong></center></p>            
                </div>   
             
                <div><center>
                <a href="img/play.png" alt="Bright Ideas"><span title="Bright Ideas"><img class="headshots" src="/img/play.png" alt="Bright Ideas" /></a>
                <div class="name"><p class="describe"></p></div></center>
                <p><center><strong>April 23-26: Kimberly appeared as Denise in the University of Oklahoma’s production of Bright Ideas</strong></center></p>            
                </div>      
                     
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
