<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Resume</strong>
                    </h2>
                    <hr>   
                </div>
                <div class="col-lg-12">
               
                <!-- table  #1 -->    
                <center>
                <table style="border-collapse:collapse;">
                <thead>
                    <tr>
                    <th colspan="2" style="font-size:1.75em;"><em>Film:</em></th>
                </tr>
                    <tr style="border-bottom:1px solid black; font-size: 1.5em; ">
                        <th width="400" style="padding:5px; "><em></em></th>
                        <th width="250" style="padding:5px;border-left:1px solid black; "><em></em></th>
                        <th width="350" style="padding:5px;border-left:1px solid black;"><em></em></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding:5px;"><em>Plan B</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Lead</td> 
                        <td style="padding:5px;border-left:1px solid black;">OU Graduate Film Capstone/Taylor Mullins</td> 
                    </tr>
                    
                    <tr>
                        <td style="padding:5px;"><em>Premature</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Stand-In</td>
                        <td style="padding:5px;border-left:1px solid black;">Morning Wood Productions</td>
                    </tr>

                </tbody>
                </table>
                </center> 
                
                <br />    
                    
                <!-- table #2 -->
                <center>
                <table style="border-collapse:collapse;">
                <thead>
                    <tr>
                    <th colspan="2" style="font-size:1.75em;"><em>Television/New Media:</em></th>
                </tr>
                    <tr style="border-bottom:1px solid black; font-size: 1.5em; ">
                        <th width="400" style="padding:5px; "><em></em></th>
                        <th width="250" style="padding:5px;border-left:1px solid black; "><em></em></th>
                        <th width="350" style="padding:5px;border-left:1px solid black;"><em></em></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding:5px;"><em>JANUX: Understanding Human Deception</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Lead</td> 
                        <td style="padding:5px;border-left:1px solid black;">Next Thought Productions</td> 
                    </tr>

                </tbody>
                </table>
                </center> 
                    
                <br />    
                    
                <!--table #3 -->
                <center>
                <table style="border-collapse:collapse;">
                <thead>
                    <tr>
                    <th colspan="2" style="font-size:1.75em;"><em>Commercial:</em></th>
                </tr>
                    <tr style="border-bottom:1px solid black; font-size: 1.5em; ">
                        <th width="400" style="padding:5px; "><em></em></th>
                        <th width="250" style="padding:5px;border-left:1px solid black; "><em></em></th>
                        <th width="350" style="padding:5px;border-left:1px solid black;"><em></em></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding:5px;">Conflicts Available Upon Request</td>
                        <td style="padding:5px;border-left:1px solid black;"></td> 
                        <td style="padding:5px;border-left:1px solid black;"></td> 
                    </tr>

                </tbody>
                </table>
                </center>     
                    
               <br />
                    
                <!-- table #4 -->
                <center>
                <table style="border-collapse:collapse;">
                <thead>
                    <tr>
                    <th colspan="2" style="font-size:1.75em;"><em>Theater Experience:</em></th>
                </tr>
                    <tr style="border-bottom:1px solid black; font-size: 1.5em; ">
                        <th width="400" style="padding:5px; "><em></em></th>
                        <th width="250" style="padding:5px;border-left:1px solid black; "><em></em></th>
                        <th width="350" style="padding:5px;border-left:1px solid black;"><em></em></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding:5px;"><em>Patient A</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Kimberly Bergalis</td> 
                        <td style="padding:5px;border-left:1px solid black;">University of Oklahoma/Crissy Mundey Young</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;"><em>Coram Boy</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Isobel Ashbrook</td> 
                        <td style="padding:5px;border-left:1px solid black;">University of Oklahoma/Rena Cook</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;"><em>The Resistible Rise of Arturo Ui</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Goodwill, Spanish Web Performer</td> 
                        <td style="padding:5px;border-left:1px solid black;">University of Oklahoma/Rena Cook</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;"><em>30 Second Plays</em></td>
                        <td style="padding:5px;border-left:1px solid black;">Troupe Leader/Ensemble</td> 
                        <td style="padding:5px;border-left:1px solid black;">University of Oklahoma/Kimberly Maxwell</td> 
                    </tr>
                </tbody>
                </table>
                </center>  
                    
                <br />
                    
                <!-- table #5 -->
                <center>
                <table style="border-collapse:collapse;">
                <thead>
                    <tr>
                    <th colspan="2" style="font-size:1.75em;"><em>Training:</em></th>    
                    </tr>
                    <tr style="border-bottom:1px solid black; font-size: 1.5em; ">
                        <th width="400" style="padding:5px; "><em></em></th>
                        <th width="600" style="padding:5px;border-left:1px solid black; "><em></em></th>  
                    </tr>
                </thead>    
                <tbody>
                    <tr>
                        <td style="padding:5px;">University of Oklahoma, B.F.A. Drama with Acting Emphasis</td>
                        <td style="padding:5px;border-left:1px solid black;">Instructors: Tom Huston Orr, Rena Cook, Matthew Ellis, Alissa Millar, <br>Dr. Judith Pender, Susan Shaunessy, Chad Anderson, Chris Sadler, <br>Vince Leseney, Gwendolyn Walker, Mandy Jiran</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;">Shakespeare and Company: Summer Training Institute</td>
                        <td style="padding:5px;border-left:1px solid black;">Instructors: Dennis Krausnick, Tina Packer, Jason Asprey</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;">Ted Brunetti Studio South</td>
                        <td style="padding:5px;border-left:1px solid black;">Dramatic Acting For Film; Know Your Type: Ted Brunetti</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;">Robert Pralgo</td>
                        <td style="padding:5px;border-left:1px solid black;">Vocabulary of Action; Scene Work</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;">YourACT</td>
                        <td style="padding:5px;border-left:1px solid black;">On-Camera Acting II: Julie Still</td> 
                    </tr>
                    <tr>
                        <td style="padding:5px;">Freihofer Studios</td>
                        <td style="padding:5px;border-left:1px solid black;">Casting Intern</td> 
                    </tr>
                </tbody>
                </table>
                </center> 
                  
                <br />
                    
                <p class="special"><em><b>Special Skills:</b></em></p>
                <p class="skills">Appalachian Trail Thru-Hike (2189.2 miles); Cancer survivor; Cirque Skills: Spanish Web and Pas de Deux focus; Recommended Pass in Unarmed Stage Combat; Tough Mudder Finisher; Long distance running; MIG welding; Experienced farm hand; Dressage Horse Riding; Sketch comedy; Georgia Driver’s License; Crochet; Dialects: British RP, Cockney, Southern; Rollerblading; Backwards Spelling</p>    
                    
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
